@font-face {
  font-family: 'Poppins';
  src: url('/public/fonts/Poppins-Bold.woff2') format('woff2'), url('/public/fonts/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  font-family: 'Poppins';
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.container .revealed {
  display: block;
  animation: fadeIn 1.5s ease forwards;
}

.hidden {
  visibility: hidden;
}

h1 {
  text-transform: uppercase;
  color: #0f0f0f;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  animation: fadeIn 1.5s ease forwards;
}

h2 {
  text-transform: uppercase;
  color: #0f0f0f;
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  padding-bottom: 5rem;
  animation: fadeIn 1.5s ease forwards;
}

button {
  animation: fadeIn 3s ease forwards;
}

button.return {
  margin-bottom: 15%;
  animation: fadeIn 4s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(400px) scale(0.2);
  }
  100% {
    transform: translateY() scale(1);
  }
}

audio {
  display: none;
}

img {
  width: 60%;
  height: 60%;
  margin: 0 auto;
  cursor: pointer;
  animation: fadeIn 4s ease forwards;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4.6rem;
  }
  h2 {
    font-size: 2rem;
  }
}
