@font-face {
  font-family: 'Poppins';
  src: url('/public/fonts/Poppins-Bold.woff2') format('woff2'), url('/public/fonts/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  font-family: 'Poppins';
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  overflow: hidden;
}

.revealed {
  display: block;
}

.hidden {
  display: none;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0;
  animation: fadeIn 1.5s ease forwards;
}

h2 {
  font-size: 1.4rem;
  margin-top: 0rem;
  animation: fadeIn 1.5s ease forwards;
}

h1,
h2,
button {
  color: #e0e0e0;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  margin-top: 2rem;
  font-size: 1.2rem;
  animation: shaky 1.2s ease infinite;
}

button:hover {
  color: cornflowerblue;
}

.animation {
  animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(400px) scale(0.2);
  }
  100% {
    transform: translateY() scale(1);
  }
}

@keyframes shaky {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -1px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

img {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  cursor: pointer;
  animation: fadeIn 2s ease forwards;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4.6rem;
  }
  h2 {
    font-size: 2rem;
  }
}
